    body {
      padding: 0;
      margin: 0;
      background-color: gray;
    }

    /*--- navigation bar ---*/
    .navbar {
      background:#7ac460;
    }
    .nav-link,
    .navbar-brand {
      color: #ff0;
      cursor: pointer;
    }
    .nav-link {
      margin-right: 1em !important;
    }
    .nav-link:hover {
      color: #000;
    }
    .navbar-collapse {
      justify-content: flex-end;
    }
    .header {
      background-image: url('img/corn_field.jpg');
      background-size: cover;
      background-position: center;
      position: relative;
    }

	/*
	.overlay {
      position: fixed;
      min-height: 25%;
      min-width: 25%;
      left: .2;
      top: .2;
      background: rgba(0, 0, 0, 0.6);
    }
	*/

	.table {
		position: relative;
		text-align: center;
		left:40%;
	}

    .description {
      left: 50%;
      position: absolute;
      top: 35%;
      transform: translate(-50%, -55%);
      text-align: center;
    }
    .description h1 {
      color: #ff2;
	  font-size: 8rem;
	  font-weight: bold;
    }
    .description p {
      color: #ff2;
      font-size: 4rem;
      line-height: 1.2;
    }